*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
    font-family: "arial", sans-serif;
}
.hero{
    background-color: white;
    overflow: hidden;
}
.heading{
    color: #ff6347;
    font-size: 40px;
    text-align: center;
    margin-top: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.hero-content p{
    font-size: 24px;
    width: 600px;
    margin: auto;
}
.hero-content button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.hero-content button:hover{
     background-color: #ff6347;
     transform: scale(1.1);
}
.hero-image{
    flex: 1;
    width: 600px;
    margin:auto;
    animation: fadeInRight 2s ease;
}
img{
    border-radius: 10px;
}
@keyframes fadeInRight {
0%{
    opacity: 0;
    transform: translatex(-50px);
}    
100%{
    opacity: 1;
    transform: translatex(0px);
}    
}