header
{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
               url('Photos/BG-IMAGE.jpeg');
    background-size: cover;
    font-family: sans-serif;
 }   
nav{
    width: 100%;
    height: 100px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
    color: blueviolet;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding:15px 25px;
    position: relative;   
}
.menu a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
}
.menu a:hover::before{
    width: 90%;
}
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: indianred;
    border-radius: 8px;
    transition: 0.4s;
}
.register a:hover{
    background: transparent;
    border: 1px solid indianred;
}