body{
    background-color: aqua ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.shop{
    padding: 40px 0;
    text-align: center;
}
.shop h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.filters{
    margin-bottom: 20px;
}
.filter-button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
}
.filter-button:hover{
    background-color: #f4b41a;
    color: #fff;
    border-color: #f4b41a;
}
.filter-button:active{
    background-color: #f4b41a;
    color: #fff;
    border-color: #f4b41a;
}
.product-grid{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.product{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}
.product img{
    max-width: 100px;
    height: auto;
}
.product h4{
    margin: 10px 0;
    font-size: 1.2rem;
}
.product p{
    color: #f4b41a;
    font-size: 1.1rem;
}
.buy-now{
    background-color: #f4b41a;
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    border-radius: 8px
}
.buy-now:hover{
    background-color: #333;
    color: #fff;
}